.status {
  color: #777777;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  position: relative;
  z-index: 1;

  &.online {
    background-color: #2AA950 ;

    .status-text {
      color: white !important;
    }
  }

  &.offline {
    background-color: #d9d9d9;
  }

  .inner {
    position: relative;
    z-index: 5;
  }

  .status-text {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .form-check-input {
    position: relative;
    z-index: 10;
  }
}
